[submodule "sdk-nrf"]
	path = sdk-nrf
	url = https://github.com/maxd-nordic/sdk-nrf.git
	branch = atv2-ina3221
[submodule "mqtt-light-bulb"]
	path = mqtt-light-bulb
	url = https://github.com/maxd-nordic/sdk-nrf.git
	branch = mqtt-light-bulb
