#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config MQTT_SAMPLE_LEDCTRL_THREAD_STACK_SIZE
	int "Thread stack size"
	default 4096

module = MQTT_SAMPLE_LEDCTRL
module-str = LEDCTRL
source "subsys/logging/Kconfig.template.log_config"
